{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>GEDcom analyser - software to analyse your GEDcom files</h1>
    <p class="lead">Approach of using design patterns to manipulate GEDcom files</p>
    <p><a href="{{ url_for('worker') }}" class="btn btn-primary btn-large">Let's  check it out!' &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Check code on GitHub</h2>
        <p>
            Let's check application code repository on Github
        </p>
        <p><a class="btn btn-default" href="https://github.com/w48687PRomanik/w48687_wzorce_projektowe">Check now! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Design patterns</h2>
        <p>Short description of design patterns used in this application</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Read documentation</h2>
        <p>Read documentation before running app.</p>
        <p><a class="btn btn-default" href="{{ url_for('about') }}">Read docs &raquo;</a></p>
    </div>
</div>

{% endblock %}
